.todo-container {
    display: flex;
    justify-content: space-between;
}
.todo {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}

.is-copmleted {
    text-decoration: line-through;
}
